{
    # Global options
    email {$EMAIL}
    admin off
}

# The {$DOMAIN} can be an IP or a real domain
{$DOMAIN} {
    # API (Using handle to preserve /api path)
    handle /api/* {
        reverse_proxy api:8000
    }

    # WebSockets
    handle /ws* {
        reverse_proxy websocket:8765
    }

    # PWA
    handle /pwa/* {
        reverse_proxy pwa:80
    }

    # OG Images / Share
    handle /render-shared/* {
        reverse_proxy api:8000
    }

    # Frontend (Everything else)
    handle {
        reverse_proxy frontend:80
    }

    log {
        output file /var/log/caddy/access.log
    }
}
